<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.DeviceResolver, Sitecore.Kernel']"
                   type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.DeviceDetector, Sitecore.51Degrees.CloudDeviceDetection" />
      </httpRequestBegin>

      <resolveMobileDevice>
        <processor type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.SiteDetector, Sitecore.51Degrees.CloudDeviceDetection" method="Process" />
        <processor type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.DefaultDeviceDetector, Sitecore.51Degrees.CloudDeviceDetection" method="Process" />
        <processor type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.PageModeDetector, Sitecore.51Degrees.CloudDeviceDetection" method="Process" />
        <processor type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.DeviceConditionProcessor, Sitecore.51Degrees.CloudDeviceDetection" method="Process" />
        <processor type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.LoadDeviceItem, Sitecore.51Degrees.CloudDeviceDetection" method="Process" />
      </resolveMobileDevice>
    </pipelines>

    <settings>
      <!-- 51 Degrees Cloud endpoint settings -->
      <setting name="Sitecore.FiftyOneDegrees.CloudDeviceDetection.ApiEndpoint" value="https://cloud.51degrees.com/api/v1/{0}/match?user-agent={1}&amp;values=IsMobile+DeviceType+IsConsole+IsEReader+IsMediaHub+IsSmallScreen+IsSmartPhone+IsTablet+IsTv"/>
      <setting name="Sitecore.FiftyOneDegrees.CloudDeviceDetection.ApiLicenceKey" value=""/>
    </settings>
  </sitecore>
</configuration>