<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Sitecore.Pipelines.PreprocessRequest.DeviceDetection.SetBrowserCapabilities, Sitecore.51Degrees.CloudDeviceDetection">
          <patch:delete />
        </processor>
      </preprocessRequest>

      <httpRequestBegin>
        <processor type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.DeviceDetector, Sitecore.51Degrees.CloudDeviceDetection">
          <patch:delete />
        </processor>
      </httpRequestBegin>

      <resolveMobileDevice>
        <patch:delete />
      </resolveMobileDevice>
    </pipelines>

    <settings>
      <!-- 51 Degrees Cloud endpoint settings -->
      <setting patch:instead="*[@name='Sitecore.FiftyOneDegrees.CloudDeviceDetection.ApiEndpoint']" name="Sitecore.FiftyOneDegrees.CloudDeviceDetection.ApiEndpoint" value="https://cloud.51degrees.com/api/v1/{0}/match?user-agent={1}&amp;values=IsMobile+DeviceType+IsConsole+IsEReader+IsMediaHub+IsSmallScreen+IsSmartPhone+IsTablet+IsTv+BrowserName+BrowserVersion+ScreenPixelsHeight+ScreenPixelsWidth+PlatformName+PlatformVersion+Javascript+Html5+HasTouchScreen+HardwareModel+PlatformVendor"/>
    </settings>

    <deviceDetectionManager defaultProvider="netbiscuits">
      <patch:attribute name="defaultProvider" value="51degrees" />
      <providers>
        <add patch:instead="*[@name='netbiscuits']" name="51degrees" type="Sitecore.FiftyOneDegrees.CloudDeviceDetection.Providers.DeviceInformationProvider51Degrees, Sitecore.51Degrees.CloudDeviceDetection" />
      </providers>
    </deviceDetectionManager>
  </sitecore>
</configuration>