<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.51Degrees.CloudDeviceDetection" description="">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="RuleDefinition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Device Detection Module" />
            <include name="TagDefinition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Device Detection Module" />
            <include name="LayoutRuleTemplateField" database="master" path="/sitecore/templates/System/Layout/Device/Detection/Rule">
              <exclude path="/sitecore/templates/System/Layout/Device/Detection/Rule/" />
            </include>
            <include name="NewRules" database="master" path="/sitecore/system/Settings/Rules/Device Detection">
              <exclude path="/sitecore/system/Settings/Rules/Device Detection/Rules/" />
              <exclude path="/sitecore/system/Settings/Rules/Device Detection/Tags/Default" />
              <exclude path="/sitecore/system/Settings/Rules/Device Detection/Tags/Device" />
            </include>
            <include name="DeviceDetectionConditionalRendering" database="master" path="/sitecore/system/Settings/Rules/Conditional Renderings/Tags/Device Detection Module" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
