<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.DeviceResolver, Sitecore.Kernel']"
                   type="Sitecore.FiftyOneDegress.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.DeviceDetector, Sitecore.51Degress.CloudDeviceDetection" />
      </httpRequestBegin>

      <resolveMobileDevice>
        <processor type="Sitecore.FiftyOneDegress.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.SiteDetector, Sitecore.51Degress.CloudDeviceDetection" method="Process" />
        <processor type="Sitecore.FiftyOneDegress.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.DefaultDeviceDetector, Sitecore.51Degress.CloudDeviceDetection" method="Process" />
        <processor type="Sitecore.FiftyOneDegress.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.PageModeDetector, Sitecore.51Degress.CloudDeviceDetection" method="Process" />
        <processor type="Sitecore.FiftyOneDegress.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.DeviceIdResolvingProcessor, Sitecore.51Degress.CloudDeviceDetection" method="Process" />
        <processor type="Sitecore.FiftyOneDegress.CloudDeviceDetection.Sitecore.Pipelines.HttpRequestBegin.DeviceDetection.LoadDeviceItem, Sitecore.51Degress.CloudDeviceDetection" method="Process" />
      </resolveMobileDevice>
    </pipelines>

    <settings>
      <!-- Sitecore Device Ids (if blank the module will look for device items based off naming convention -->
      <setting name="Sitecore.FiftyOneDegress.CloudDeviceDetection.DefaultDeviceId" value=""/>
      <setting name="Sitecore.FiftyOneDegress.CloudDeviceDetection.MobileDeviceId" value=""/>
      <setting name="Sitecore.FiftyOneDegress.CloudDeviceDetection.TabletDeviceId" value=""/>
      
      <!-- 51 Degrees Cloud endpoint settings -->
      <setting name="Sitecore.FiftyOneDegress.CloudDeviceDetection.ApiEndpoint" value="https://cloud.51degrees.com/api/v1/{0}/match?user-agent={1}&amp;values=IsMobile+DeviceType"/>
      <setting name="Sitecore.FiftyOneDegress.CloudDeviceDetection.ApiLicenceKey" value=""/>
    </settings>
  </sitecore>
</configuration>